---
const sum = (a: number, b: number) => a + b;

sum(1, 2);
---

												<main>
<big>
						<h1>
help
<div>
me pls
plzz

plzzz${sum(1,2)}</div>
</h1>
</big>
<marquee behavior="e" direction="">e e 
</marquee>
							edfnsbknbdgk    sdf s 		 	 esnansm 	
								djsnjn     
								     		jnsdna 	

											sdm
</main>
